body {
	background-color: #efefef;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

p{
	line-height: 1;
}

header {
	font-size: 1.2vw;
	margin-top: 40px;
}

.logo {
	width: 10vw;
	height: 2.5vw;
	margin-top: 0.5%;
	float: left;
	margin-left: 2%;
}

.logo_image {
	float: left;
	width: 100%;
	height: 70%;
}

.link {
	position: absolute;
	width: 80vw;
	text-align: center;
	margin-left: 10vw;
	text-align: center;
	float: right;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin:  0 2%;
	text-decoration: none;
	transition: color 0.2s;
	font-size: calc(1em + 1vw);
	color: #000;
	cursor: pointer;
	font-family: 'Montserrat', regular;
}

.nav_link:hover {
	color: #e6ba38;
}

.gamburger{
	float: right;
	z-index: 50;
}

/* gamburger icon */
.menu_shape-btn {
	margin-left: 83vw;
	position: relative;
	width: 3vw;
	height: 3vw;
	overflow: hidden;
	z-index: 2;
}

.menu_shape-btn span {
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu_shape-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu_shape-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu_shape-btn.active span:nth-of-type(1) {
  display: none;
}
.menu_shape-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu_shape-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Gamburger menu */
.menu_shape {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFEFBA;
	transform: translateX(-100%);
	transition: transform 0.5s;
}



.gamburger_link {
	position: absolute;
	right: 3vw;
}

.gamburger_link:nth-child(1) {
	margin-top: 7vw;
}
.gamburger_link:nth-child(3) {
	margin-top: 9vw;
}
.gamburger_link:nth-child(5) {
	margin-top: 11vw;
}
.gamburger_link:nth-child(7) {
	margin-top: 13vw;
}


.menu_shape.active {
	transform: translateX(0);
}

main {
	width: 100%;
	text-align: center;
	background-image: url("../images/circle.png");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 2%;
	background-size: 40%;
	position: absolute;
	bottom: 0; 
	right: 0;
}


.midle_human {
	width: 20vw;
	height: 45vw;
    z-index: 5;
	margin-left: 1.5vw;
	margin-top: 0.5vw;
	bottom: 0;
}

.slogan {
	font-family: 'Montserrat', Bold;
	font-size: 6vw;
	font-weight: 700;
	position: absolute;
	text-align: center;
	margin-top: 15%;
	margin-left: 50%;
}

.left_text {
	position: absolute; 
	font-family: 'Montserrat', regular;
	font-size: 1.5vw;
	margin-left: 12%;
	margin-top: 9%;
	text-decoration: none;
}

.more_link {
	text-decoration: none;
}

.more_link:hover {
	transition: 0.2s;
	color: #e6ba38;
}

footer {
	font-family: 'Montserrat', SemiBold;
	font-size: 1.2vw;
	position: absolute;
	margin-left: 86vw;
	bottom: 0.1vw; 
}

.footer_navigation {
	position: absolute;
	margin-left: 1vw;
	bottom: 1vw; 
	position: center;
}

.footer_navigation_icon {
	display: inline-block;
	vertical-align: top;
	margin:  0vw 1vw;
	width: 4vw;
	height: 4vw; 
}

header {
	display: flex;
}


@media screen and (max-width: 1000px) {
	.midle_human {
		width: 60vw;
		height: 120vw;
		z-index: 5;
		margin-left: 1.5vw;
		margin-top: 0.5vw;
		bottom: 0;
	}

	main {
		width: 100%;
		text-align: center;
		background-image: url("../images/circle.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position-y: 2%;
		background-size: 90%;
		position: absolute;
		bottom: 0; 
		right: 0;
	}

	.slogan {
		font-family: 'Montserrat', Bold;
		font-size: 9vw;
		font-weight: 700;
		position: absolute;
		text-align: center;
		margin-top: 60%;
		margin-left: 57%;
	}
}

@media screen and (max-width: 900px) {
	.midle_human {
		width: 60vw;
		height: 120vw;
		z-index: 5;
		margin-left: 1.5vw;
		margin-top: 0.5vw;
		bottom: 0;
	}

	main {
		width: 100%;
		text-align: center;
		background-image: url("../images/circle.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position-y: 2%;
		background-size: 90%;
		position: absolute;
		bottom: 0; 
		right: 0;
	}

	.slogan {
		font-family: 'Montserrat', Bold;
		font-size: 9vw;
		font-weight: 700;
		position: absolute;
		text-align: center;
		margin-top: 55%;
		margin-left: 57%;
	}
}